@media screen and (min-width: 992px) {
    .item-title.with-pic{
        padding-right: 130px;
    }

    .add-list-form.items-list .list-view-image{
        margin-top: -50px;
    }
}
@media screen and (max-width: 767px) {
    .dynamic-container .dynamic-input,
    .dynamic-container .dynamic-label{
        display: block;
        width: 100%;
    }

    .dynamic-container .dynamic-box .dynamic-field:not(:last-of-type){
        border-bottom: 1px dashed #ccc;
        margin-bottom: 3px;
        padding-bottom: 3px;
    }
    .item-title{
        overflow: hidden;
        height: auto;
    }

    form .item-title{
        overflow: hidden;
        height: 50px;
    }
    .items-list h4{
        font-size: 0.95em;
    }
    .content .left-side .newlist.add-new-masoud h2{
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .add-new-masoud a{
        font-size: inherit;
    }
    .content .left-side h2{
        height: auto;
        line-height: 32px !important;
    }
    .feature-item .item-title{
        overflow: hidden;
    }
    .uploader-container,
    .uploader-container .dropzone.single,
    .userinfo .user-image{
        width: 100px;
        height: 100px;
        min-height:100px;
        overflow: hidden;
    }
    .content .left-side h2{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .content .left-side h2 .telegram-link.gray{
        line-height: 32px !important;
    }
    .content .left-side h2 .telegram-link.gray i{
        height: 20px;
    }
    .slider + .content{
        margin-top: 0;
    }
    .content .left-side .context ol{
        padding-left: 10px;
        margin-bottom: 30px;
    }
    .content .left-side .context ol li{
        margin-bottom: 10px;
        font-size: 13px;
    }
    .owl-carousel .owl-controls .owl-nav{
        display: block;
    }
    .list-item-view .image{
        float: none;
        display: block;
        margin: 0 auto;
    }
    .list-item-view h2{
        display: block;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .slider h1 {
        padding: 0 15px;
        font-size: 20px;
    }

    .thumbnail-container {
        margin: 0 auto;
    }

    .header {
        position: fixed;
        width: auto;
        height: auto;
    }

    .header .navbar-toggle {
        background: gray;
        color: #ffffff;
        display: block;
    }

    .header .navbar-collapse {
        margin-top: 10px;
    }

    .header .col-lg-3 {
        width: 50%;
        height: auto;
        float: right;
    }

    .header .navbar-collapse .col-lg-5 {
        width: 50%;
        height: auto;
        float: left;
        background: #e9e9e9;
        position: absolute;
        left: 0;
        top: 5%;
        text-align: center;
        margin-top: 54px;
    }

    .slider .is-carousel .thumbnail-container .thumbnail {
        max-width: 100%;
        height: auto;
    }

    .slider .box-search {
        padding: 0 15px;
    }

    .slider .box-search .input-group {
        width: 100%;
        height: auto;
    }

    .content .left-side .context {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content .left-side .feature-item {
        width: 100%;
        height: auto;
    }

    .content .left-side .context .newlist {
        height: auto;
        position: relative;
        padding: 15px;
    }
    .left-side .newlist .multiimage{
        display: none;
    }

    .content .left-side .context .newlist strong {
        text-align: justify;
        direction: rtl;
    }

    .content .left-side .catod {
        width: 100%;
        height: auto;
    }

    .content .left-side .formdiv .pishdiv {
        width: 100%;
        height: auto;
    }

    .content .left-side .formdiv .pishdiv1 .textdiv {
        width: 100%;
        height: auto;
    }

    .content .left-side .context .i {
        width: 100%;
        height: auto;
    }

    .content .left-side .context .i .member1 {
        width: 100%;
        height: 50%;
        margin: 10px auto 10px;
    }

    .content .left-side .context .i .member1 span {
        font-size: 16px;
    }

    .content .left-side .context .i .member2 {
        width: 100%;
        height: 50%;
        margin: 15px;
    }
    .right-side .context{
        margin-top: 0;
    }
    .right-side{
        padding: 0;
    }
    .content .left-side{
        padding-right: 0;
        padding-left: 0;
    }
    .footer .container .list-unstyled{
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .inner .content .left-side .i em{
        display: none;
    }
    .inner .content .left-side .i .member1{
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        width:auto;
        height:auto;
        line-height: 25px;
        font-size: 18px;
    }
    .inner .content .left-side .i{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .inner .content .left-side .context .i .member2{
        margin: 0;
    }
    .content .left-side h1{
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }
    .content .left-side .context ol{
        padding-left: 15px;
    }
    .pishdiv{
        margin-right: 0;
        padding: 0 15px;
    }
    .textdiv{
        margin: 15px 0;
        padding: 10px;
        width: 100%;
    }
    .header .col-lg-7{
        padding-right: 15px;
        padding-left: 15px;
    }
    .comment-form-outer{
        margin-bottom: 30px;
    }
    .content .left-side strong{
        font-size: 18px;
    }
}
@media (max-width: 400px){
    .social-networks{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #mobile-menu{
        width: 300px;
        float: left;
    }
    #mobile-menu li{
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .menu{
        width: 100%;
    }
    .menu .user-link{
        width: 25%;
    }
    .header .logo-box img{
        padding: 14px 0 !important;
        max-width: 85px !important;
    }
}

@media (min-width: 1200px){}